// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~font-awesome-animation/dist/font-awesome-animation.min.css";

button{
  &:focus, &:active{
    outline: none;
    box-shadow: none;
  }
}

.input{
  &-wrapper{
    position: relative;
    margin-bottom: 0;
    width: fit-content;
    height: fit-content;

    .form-control{
      border: 0;
      border-bottom: 1px solid darkgrey;
      transition: all .3s;
      background: transparent;
      border-radius: 0;
      padding-left: 1.2rem;


      &:focus, &:active{
        outline: none;
        box-shadow: none;
      }

      &:focus, &:not(:placeholder-shown){
        border-color: $red;
        transition: all .3s;

        &~.icon{
          color: $red;
          transition: all .3s;
        }
      }
    }

    textarea{
      border: 1px solid $grey;
      border-radius: .5rem;
    }

    .icon{
      position: absolute;
      left: 0;
      top: .7rem;
    }

    .checkbox{
      position: absolute;
      left: calc(50% - 1rem);
      top: 40%;
      width: 2rem;
      height: 2rem;
      border: 1px solid darkgrey;
      background-color: transparent;
      border-radius: .3rem;

      i{
        font-size: .7rem;
        color: $red;
        opacity: 0;
        transform: scale(0);
        transition: all .3s;
      }

      &-title{
        font-weight: bold;
        font-size: .8rem;
      }

      &-input{
        position: relative;
        width: 2rem;
        height: 2rem;
        left: calc(50% - 1rem);
        top: 5%;
        opacity: 0;
        z-index: 10;

        &:hover ~ .checkbox{
          border-color: $red;
        }

        &:checked ~ .checkbox{
          border-color: $red;
          i{
            opacity: 1;
            transform: scale(1);
            transition: all .3s;
          }
        }
      }
    }
  }
}

.tasks-btn{
  border: 1px solid $red;
  color: $red;
  background-color: transparent;
  font-weight: bold;
  transition: all .3s;
  border-radius: .5rem;
  padding: 10px 2rem;
  &:hover{
    color: white;
    background-color: $red;
    transition: all .3s;
  }
}