<template>
    <div class="d-flex flex-column align-items-center add-wrapper w-100">
        <div class="d-flex flex-column align-items-center justify-content-center w-25 h-100">
            <h4 class="title mb-5">Add a new task</h4>
            <label class="input-wrapper w-100 mb-3">
                <input type="text" @focus="$event.target.type='date'" @blur="($event.target.value === '')?$event.target.type='text':$event.target.type='date'" class="form-control" placeholder="When is the due date?">
                <span class="fas fa-calendar-alt icon"></span>
            </label>
            <label class="input-wrapper w-100">
                <textarea class="form-control" rows="4" placeholder="What do you need to do?"></textarea>
                <span class="fas fa-thumbtack icon"></span>
            </label>
            <button class="tasks-btn mt-4">Create new</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddTask",
    }
</script>

<style lang="scss" scoped>
    @import "../../sass/variables";

    .add{
        &-wrapper{
            height: 100vh;
        }
    }

    .title{
        color: $red;
        font-weight: bold;
        border-bottom: 2px solid $red;
    }
</style>