<template>
    <div class="d-flex flex-column align-items-center nav-wrapper py-5">
        <div class="avatar mb-5"></div>
        <router-link to="/add-task" class="nav-link" v-b-tooltip.right.hover title="Add a task" :class="{'active': $route.path === '/add-task'}"><i class="fas fa-plus"></i></router-link>
        <router-link to="/tasks" class="nav-link" v-b-tooltip.right.hover title="My tasks" :class="{'active': $route.path === '/tasks'}"><i class="fas fa-clipboard-check"></i></router-link>
        <a href="/logout" class="nav-link" v-b-tooltip.right.hover title="Logout"><i class="fas fa-power-off"></i></a>
    </div>
</template>

<script>
    export default {
        name: "navigation"
    }
</script>

<style lang="scss" scoped>
    @import "../../sass/variables";

    .nav {
        &-wrapper {
            width: 80px;
            height: 100vh;
            border-right: 1px solid $grey;
            background-color: white;
            box-shadow: 0 10px 5px $grey;
            font-size: 1.3rem;

            .avatar {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                background: url("../../images/vega.png") no-repeat;
                background-size: contain;
                border: 1px solid $grey;
            }
        }

        &-link{
            text-decoration: none;
            color: black;
            background: transparent;
            border: none;
            transition: all .3s;
            width: 100%;
            text-align: center;
            cursor: pointer;

            &:hover{
                border-left: 3px solid $red;
                color: $red;
                transition: all .3s;
            }

            &.active{
                border-left: 3px solid $red;
                color: $red;
            }
        }
    }
</style>