<template>
    <div class="d-flex flex-column align-items-center w-100 tasks-wrapper">
        <div class="d-flex align-items-center justify-content-between w-75 tasks-header">
            <div class="d-flex align-items-center">
                <button class="tasks-button active"><i class="fas fa-tasks"></i></button>
                <button class="tasks-button"><i class="fas fa-calendar"></i></button>
                <button class="tasks-button"><i class="fas fa-star"></i></button>
            </div>
            <div class="d-flex align-items-center">
                <button class="tasks-button"><i class="fas fa-tasks"></i></button>
                <label class="input-wrapper ml-3">
                    <input type="text" class="form-control" placeholder="Search tasks" />
                    <i class="icon fas fa-search"></i>
                </label>
            </div>
        </div>
        <div class="d-flex flex-column tasks-table w-75 mt-5">
            <h3 class="title align-self-start">Today</h3>
            <div class="d-flex align-items-end mb-2">
                <label class="d-flex flex-column input-wrapper mr-4">
                    <span class="checkbox-title">Doing</span>
                    <input type="checkbox" class="checkbox-input" />
                    <span class="d-flex align-items-center justify-content-center checkbox"><i class="fas fa-check"></i></span>
                </label>
                <label class="d-flex flex-column input-wrapper">
                    <span class="checkbox-title">Done</span>
                    <input type="checkbox" class="checkbox-input" />
                    <span class="d-flex align-items-center justify-content-center checkbox"><i class="fas fa-check"></i></span>
                </label>
                <span class="tasks-description">Today I will learn some VueJS basics and some Laravel basic!</span>
                <div class="d-flex align-items-center ml-auto mr-3">
                    <span class="fas fa-trash faa-shake animated-hover tasks-remove mr-3" @click="deleteTask"></span>
                    <span class="fas fa-pen-square faa-shake animated-hover tasks-remove mr-3"></span>
                    <span class="tasks-time">10. Oct 2019</span>
                </div>
            </div>
        </div>
        <b-modal id="delete">
            <template v-slot:modal-header="{ close }">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h5><strong>Remove selected task</strong></h5>
                    <span class="fas fa-times" @click="close()"></span>
                </div>
            </template>
            <div class="d-block text-center">
                <p>Are you sure you want to delete task - #id</p>
            </div>
            <template v-slot:modal-footer="{ close }">
                <div class="d-flex align-items-center justify-content-center w-100">
                    <button class="btn btn-outline-success mr-3">Remove task</button>
                    <button class="btn btn-outline-danger" @click="close()">Cancel</button>
                </div>
            </template>
        </b-modal>
    </div>
</template>

<script>
    export default {
        name: "TodoList",
        methods:{
            deleteTask(){
                this.$bvModal.show('delete');
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../sass/variables";

    .tasks{
        &-wrapper{
            height: 100vh;
        }

        &-button{
            background: transparent;
            color: grey;
            border: none;
            font-size: 1.2rem;
            transition: all .3s;
            height: calc(1.6em + 0.75rem + 2px);

            &:hover{
                border-top: 2px solid $red;
                color: $red;
                transition: all .3s;
            }

            &.active{
                color: $red;
                border-top: 2px solid $red;
            }
        }

        &-table{
            min-height: 350px;
            max-height: 95vh;
            overflow-y: auto;

            .title{
                color: $red;
                font-weight: bold;
                border-bottom: 2px solid $red;
            }
        }

        &-description{
            font-size: 1.1rem;
            margin-left: 1rem;
            max-width: 70%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &-remove{
            color: $grey;
            cursor: pointer;
            transition: all .3s;
            font-size: 1.1rem;
            &:hover{
                color: $red;
                transition: all .3s;
            }
        }
    }
</style>